html {
  height: 100%;
  width: 100%;
}
textlol{
  font-family: 'Cabin', sans-serif;
}

a {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #669d34;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Cabin', sans-serif;
}
a:hover {
  background-color: #2F6B14;
}

a.bigger {
  display: inline-block;
  padding: 20px;
  margin: 5px;
  background-color: #669d34;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Cabin', sans-serif;
}

a.bigger:hover {
  background-color: #2F6B14;
}


a.blue {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #6690ec;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Cabin', sans-serif;
}

a.blue:hover {
  background-color: #1A2EFF;
}


landingPageImg {
     width: 300px; /* Sets the image width */
    height: 200px; /* Sets the image height */
}
